@mixin flexVerticalCenter {
	display: flex; justify-content: center; align-items: center;	
}

.effects__container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

.effects {
	background-color: yellow;
	max-width: 300px;
}

.effects__row {
	height: 100px;
	min-height: 100px;	
}

.effects__cell {
	height: 100%;
}

.effects__cell__name {
	@include flexVerticalCenter;
}

.effects__cell__effect {
	flex-basis: 200px;
}

.effects__cell__header {
	@include flexVerticalCenter;
}

.effects__canvas {
	height: 100%; width: 100%;
}