.soundbite {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.soundbite__grid__docked {
	border-radius: 10%;
	height: 100%;
	width: 100%;
	// background-color: yellow;
}

.soundbite__grid__undocked {
	height: 50px;
	width: 50px;
}