.container {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 95%;
	max-width: 500px;
	height: 95%;
	max-height: 300px;
}

.sticky-header {
	order: 1;
	flex-basis: 50px;
	flex-shrink: 0;
}

.content {
	height: 100%;
	order: 2;
	overflow-y: scroll;
}

.row {
	display: flex;
	min-height: 50px;
}

.cell {
	min-width: 50px;
	flex-grow: 1;
	height: 50px;
	box-sizing: border-box;
}

.hidden {
	display: none;
}